img {
  height: 200px;
  object-fit: contain;
}

span {
  font-weight: bold;
}

input {
  width: 140px;
  display: inline;
  height: 30px;
}

.btn {
  vertical-align: baseline;
  padding: 2px 7px 2px 7px;
}
