img {
  height: 45vh;
  object-fit: fill;
}

span {
  font-weight: bold;
}

input {
  width: 140px;
  display: inline;
  height: 30px;
}

.btn {
  vertical-align: baseline;
  padding: 2px 7px 2px 7px;
}
